body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #ecbcc3d2;
    margin: 0;
}

.contenedor {
    position: relative;
}

.superior{
    position: absolute;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 120px solid #f08080;
    border-bottom: 120px solid transparent;

    transition: transform 0.75s;
    transform-origin: top;
}

.mensaje{
    position: absolute;
    padding: 1.5rem;
    line-height: 1,5rem;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Imperial Script', cursive;
    font-size: 1.2rem;
    background: rgb(228, 218, 161);
    width: 360px;
    height: 240px;
    z-index: -1;
    transition: transform 0.75s ease-in-out;
}

.mensaje::before{
    content: "";
    border-style: dotted;
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 40px;
}

.mensaje p{
    position: relative;
    top: -10px;
    font-size: 1.2rem;
}

.carta{
    border-left: 180px solid #f8ad9d;
    border-right: 180px solid #f4978e;
    border-top: 120px solid transparent;
    border-bottom: 120px solid #f8ad9d;
}

.bx{
    position: absolute;
    color: rgb(255, 0, 85);
    top: 90px;
    right: 155px;
    font-size: 50px;
    animation:  palpitar 0.6s linear infinite;
}

.pcarta{
    margin-top: -10px;
}

.botones{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boton{
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff5760, #ff3668be);
    background-size: 200% 200%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.boton:hover{
    background-position: 50%, 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/*JavaScripts*/
.abrir-superior{
    transform: rotateX(180deg);
}

.abrir-mensaje{
    transform: translateY(-120px);
}

.bx-rotada {
    color: rgb(255, 0, 85);
    animation: none;
}

@keyframes palpitar {
        0%{
            transform: scale(1.07);
        }
        80%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.08);
        }
}

@media (max-width: 768px){

    .mensaje::before{
        content: "";
        border-style: dotted;
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 45px;
    }

    .mensaje p{
        position: relative;
        top: -15px;
        font-size: 1rem;
    }

}